extends ../layout.pug

block title
    title 子老测首页
block css
    link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")

block content
    #app
    script(src="../node_modules/jquery/dist/jquery.slim.min.js")
    script(src="../node_modules/popper.js/dist/umd/popper.min.js")
    script(src="../node_modules/bootstrap/dist/js/bootstrap.min.js")
    script(src="./js/main.js")