extends ../layout.pug

block title
    title 子老测首页
block css
    link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")

block content
    #app
    script(src="./js/jquery.slim.min.js")
    script(src="./js/popper.min.js")
    script(src="./js/bootstrap.min.js")